body {
	height: 100%;
	background-image: url('../images/background.jpg');
	background-color: red;
}

#login{
	background-color: red;
	margin-top: 250px;
}

.btn btn-primary{
	width: 500px;
	color:blue;
}